
.send-margin{
    margin-top: 50px;
}

.phar-text{
    font-size: 14px;
}

.phar-image{
    height: 100px;
    width: 100%;
}

.phar-bottom{
    height: 60px;
    width: 100%;
}

.phar-icon{
    font-size: 23px;
}