
.avatar-profile-img {
    height: 150px;
    width: 150px;
}

.background-img{
    height: 180px;
    width: 100%;
}

.profile-text-color{
    color: white;
}

.edit-btn{
    margin-top: 65px;
}

.back-button{
    height: 26px;
}




